* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  /* header starts */
header {
  background-color: gold;
  border: solid;
  border-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  margin: 20px;
}

header h1 {
  color: darkgrey;
  text-shadow: 0 0 5px black;
}

header nav {
  margin: 25px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

body {
    background-image: url("..//images/Backgroudimg.jpg") ;
    color: white;
    background-size: cover;
    background-attachment: fixed;   
} 

/* profile image / technical skills starts  */
article {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  margin: 20px;
  border: solid;
  border-color: aqua;
  font-size: x-large;
 
}

article nav {
  color: aqua;
  background-color: gray;
  border: solid;
  border-color: aqua;
  padding: 40px;
}

article nav p {
  text-decoration: underline;
}

#profile-img {
  max-width: 100%;
  height: auto;
  color: aqua;
  border: solid;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
}

/* section style starts */
section {
  background-color: gold;
  color: aqua;
  border: solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

section div {
  padding: 35px;
  border: aqua;
  flex-wrap: wrap;
}

section h2 {
  text-decoration: underline;
} 

section div .contact-info {
background-color: gray;
}

section div h2 {
background-color: gray; 
border: solid; 
border-color: aqua;
text-align: center;
}

section div #charge-on-the-run {
  text-align: center;
}

/* about me starts */

#about-me h2 {
  text-align: center;
}

/* Projects section starts */
#charge-on-the-run {
  background-image: url("..//Screen\ Shot\ 2022-03-24\ at\ 5.39.07\ PM.png") ;
  border: solid;
  border-color: aqua;
  color: white;
  text-align: center;
  margin: 30px;
}

.other-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#calculator {
  background-image: url("../images/calculator.jpg");
  border: solid;
  border-color: aqua;
  color: white;
  text-align: center;
  padding: 30px;
}

#fanpage {
  background-image: url("..//images/fanpage-george-ezra.jpg");
  border: solid;
  border-color: aqua;
  color: white;
  text-align: center;
  padding: 30px;
}

#pet-finder {
  background-image: url("..//images/pet-pic.jpg");
  border: solid;
  border-color: aqua;
  color: white;
  text-align: center;
  padding: 30px;
}

#restaurant {
  background-image: url("..//images/restaurant.jpg");
  border: solid;
  border-color: aqua;
  color: white;
  text-align: center;
  padding: 30px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    font-size: 80px;
  }
  article {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
  }

  header h1 {
    font-size: 80px;
  }
  article {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    margin: 20px;
    border: solid;
    border-color: aqua;
    font-size: x-large;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
    /* this will be applied on any screen smaller than 575px */
    font-size: 80px;
  }
}



